body{
    background-color: #1d291b;
}


header div img{
    object-fit: cover;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    border: .4rem solid #1d291b;
    margin-top: 2rem;
    align-items: center;
}
header div img :hover{
    border: #05110D;
}

div h1{
    font-size: 3rem;
    color: black;
    margin-bottom: 0rem;
}

header nav ul li a{
    display: block;
    color: rgb(229, 240, 232);
    font-size: 2rem ;
    padding: .5rem;
    margin: 1rem;
    background: #1d291b;
    border-radius: 1rem;
    text-decoration: none;
}
header nav ul{
    list-style: none;
    padding: 1rem;
}
header nav{
    width: 90%;
    padding: 1rem;
}

header nav ul li :hover{
    background-color:#05110D;
}
header{
    position:absolute;
    top: 0; left: 0;
    background-color:#2B4128;
    height: 150%;
    width: 25rem;
    text-align: center;
}
/*header end */
section{
    padding: 2rem;
    padding-left:27rem;
    font-size: 2rem;
}
section h1{
    text-align: center;
    margin-top: 0rem;
color: darkkhaki;
text-shadow: .5rem black;
}
section a{
    display: inline-block;
    color: rgb(229, 240, 232);
    font-size: 2rem ;
    padding: 0.5rem;
    margin: 0.5rem;
    background: #2B4128;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
}
section a:hover{
    background-color:#05110D;
}



/*Contact................................................. form strt */

form {
	background-color: #2B4128;
	border-radius: .5rem;
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	width: 75%;
	padding: 10px;
	border-radius: .5rem;
	border: 1px solid #05110D;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #1d291b;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: .5rem;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #05110D;
}
/*Contact................................... form end */

div p{
    margin: 0rem;
}
div h3{
    margin-bottom: 0rem ;
    text-decoration-line: underline;
}